<!-- <p>rapidapi works!</p>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <h4>Rapid API News Data</h4>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <td>Card</td>
            <td>Date</td>
            <td>ID</td>
            <td>Long URL</td>
            <td>Title</td>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of apiNews">
            <td>{{data.card}}</td>
            <td>{{data.date}}</td>
            <td>{{data.id}}</td>
            <td>{{data.longURL}}</td>
            <td>{{data.title}}</td>



        </tr>
    </tbody>
</table>
      </div>
      <div class="col-sm">
        <hr><br><br><br><br><br><br><br><br>
        <h4>Rapid API Quote Data</h4>
        <table class="table table-striped table-dark">

            <thead>
                <tr>
                    <td>card</td>
                    <td>country</td>
                    <td>currency</td>
                    <td>id</td>
                    <td>name</td>
                    <td>region</td>
                    <td>resourceId</td>
                    <td>resourceSubtype</td>
                    <td>resourceType</td>
                    <td>securityType</td>
                    <td>symbol</td>
                    <td>template</td>
                    <td>ticker</td>
                    <td>tickerName</td>
                    <td>tinyName</td>
                    <td>title</td>
                    <td>watchlist</td>
        
        
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of apiQuote">
              <td>{{data.card}}</td>
              <td>{{data.country}}</td>
              <td>{{data.currency}}</td>
              <td>{{data.id}}</td>
              <td>{{data.name}}</td>
              <td>{{data.region}}</td>
              <td>{{data.resourceId}}</td>
              <td>{{data.resourceSubtype}}</td>
              <td>{{data.resourceType}}</td>
              <td>{{data.securityType}}</td>
              <td>{{data.symbol}}</td>
              <td>{{data.template}}</td>
              <td>{{data.ticker}}</td>
              <td>{{data.tickerName}}</td>
              <td>{{data.tinyName}}</td>
              <td>{{data.title}}</td>
              <td>{{data.watchlist}}</td>
        
        
                </tr>
            </tbody>
        </table>
      </div>
      
    </div>
  </div> -->
  <button (click)="CreatePost()" class="btn btn-primary">Create Post</button> 