<!-- <p>assignment works!</p> -->
 <section class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 site-title">
                <h3 class="title-text"> <u>Our Services</u></h3>
            </div>       
            <div class="col-lg-6">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>       
        </div>
        <div class="item">
        <div class="row">
            <div class="col-lg-6 col-md-12 ">
              <img src="../../assets/images/communication-img.jpg" alt="table booking" class="img-fluid" height="250px" width="350px">
            </div>       
            <div class="col-lg-6">
                <br>   <br/>
                <h2>advanced table booking ----</h2>
                   <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>   

            <div class="col-lg-6  col-md-12">
                <h2>Food for Free  <br>-----24/7</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>    
         </div> 
         <div class="col-lg-6 col-md-12 ">
            <img src="../../assets/images/spoon.jpg" alt="table booking" class="img-fluid" height="200px" width="300px">
          </div> 
          <div class="col-lg-6 col-md-12 ">
            <img src="../../assets/images/food-delivery.jpg" alt="table booking" class="img-fluid" height="250px" width="350px">
          </div>       
          <div class="col-lg-6">
              <br>   <br/>
              <h2> Free home delivery at your door step </h2>
                 <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
    </div>
</div>
 </section>