input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px red
}

.btn-add{
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.397);
}
.btn-add i{
    font-size: 30px;
    line-height: 15px;
    display: inline-block;
    position: relative;
    top: 7px;
    margin-right: 3px;
}
.btn-add:hover {
border: 1px solid #007bff;
background-color:#fff;
color:#007bff;
}