<!-- <p>studentregistration works!</p>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 rounded shadow py-5">
            <form (ngModel)="onSubmit(myForm) #myForm">
                <div ngModelGroup="studentDetails" #studentDetails="ngModelGroup">

                   <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" [ngModel]="firstname" required>
                    <small *ngIf="firstname">first name is:{{firstname}} </small>
                   </div>

                   <div class="form-group">
                    <label for="middlename">Middle Name</label>
                    <input type="text" class="form-control" id="middlename" name="middlename" placeholder="Middle Name" [ngModel]="middlename" required>
                    <small *ngIf="middlename">middle name is: {{middlename}}</small>
                </div>

                   <div class="form-group">
                    <label for="lastname">Middle Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" [ngModel]="lastname" required>
                    <small *ngIf="lastname"> Last name is:{{lastname}} </small>
                   </div>

                </div>
                <div class="form-group">
                    <label for="birthdate">Birth Date</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate" [ngModel]birthdate="" required>
                    <small *ngIf="birthdate"> birth Date is:{{birthdate}} </small>
                </div>
                <div class="form-group"> 
                    <label for="gender" class="col-ml-2">Gender:</label>
                   <input type="radio" id="gender" name="gender" ngModel required> <label for="gender">Male</label>
                   <input type="radio" id="gender" name="gender" ngModel required> <label for="gender">Female</label>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" email #email="ngModel" name="email" placeholder="please enter email" ngModel readonly>
                    <small *ngIf="!email.valid && email.touched">Please enter valid Email ID</small>
                </div>
                <div class="form-group">
                    <label for="school">School Name</label>
                    <select class="form-control"  name="school" id="school" [ngModel]="defaultValue">
                        <option value="D.S.G.College Mohol">D.S.G. College Mohol</option>
                        <option value="P.A.H.College Mohol">P.A.H. Solapur University Solapur</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="department">Department</label>
                    <select class="form-control"  name="department" id="department" [ngModel]="defaultValue">
                        <option value="D.S.G.College Mohol">D.S.G. College Mohol</option>
                        <option value="P.A.H.College Mohol">P.A.H. Solapur University Solapur</option>
                    </select>

                    <div class="form-group">
                        <label for="course">Course</label>
                        <select class="form-control"  name="course" id="course" [ngModel]="defaultValue">
                            <option value="D.S.G.College Mohol">D.S.G. College Mohol</option>
                            <option value="P.A.H.College Mohol">P.A.H. Solapur University Solapur</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
