
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <img src="../../assets/images/laptop.jpg" class="card-img-top" alt="card image cap">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="laptop" class="btn btn-primary" >Go somewhere</a>
                </div>
              </div>
            
              <div class="card">
                <img src="../../assets/images/tv.png" class="card-img-top" alt="card image cap">
                <div class="card-body">
                  <h5 class="card-title">TV</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card" style="margin-top: 100px;">
                <img src="../../assets/images/mobile1.jpg" class="card-img-top" alt="card image cap">
                <div class="card-body">
                  <h5 class="card-title">mobile</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              
              <div class="card">
                <img src="../../assets/images/tablet1.jpg" class="card-img-top" alt="card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tablet</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="tablet" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

           

              
             
              
        </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>