<!--The content below is only a placeholder and can be replaced.-->

 <!-- <div style="text-align:center"> -->
 <!-- <h1>
    Welcome to {{ title }}!
  </h1>  -->

  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> 
 </div>  -->
<!-- <h2>Here are some links to help you start: </h2> -->

<!-- <app-server></app-server> -->
 <!-- <app-servers></app-servers> -->
 <!-- <app-warning></app-warning>
 <app-success></app-success> -->
 <!-- <app-demodirectives></app-demodirectives> -->
 <!-- <app-ngswitch></app-ngswitch> -->
 

 <!-- <app-attri></app-attri> -->

 <!-- <app-demo [myInputMsg]="uname"></app-demo> -->
 <!-- <div>
  <app-demo (foodevent)="getDataFromChild($event)"></app-demo>
</div>

<ul *ngFor="let f of foods">
  <li>
    {{f}}
  </li>
 </ul>
<br> -->

<!-- <button (click)="show()">Click</button> -->


<!-- <app-service1></app-service1>
<app-service2></app-service2>
 
<table class="table table-hover table-bordered table-dark">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Username</th>
    <th>Address</th>
    <th>Company</th>
    <th>Website</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of userData">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td>{{data.phone}}</td>
    <td>{{data.username}}</td>
    <td>{{data.email}}</td>
    <td>{{data.address.city}}{{data.address.geo.lat}}{{data.address.geo.lng}}{{data.address.street}}{{data.address.suite}}{{data.address.zipcode}}</td>
    <td>{{data.company.bs}}{{data.company.catchPhrase}}{{data.company.name}}</td>
    <td>{{data.website}}</td>
  </tr>
</tbody>
</table>  -->

<!-- <ul *ngFor="let s of student">
  <li>{{s}}</li>
</ul>
<app-output-assignment (studentEvent)="getStudentData($event)"> </app-output-assignment>
<div class="container mr-3 mt-3">
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Roll No</th>     
      <th>First Name</th>
      <th>Last Name</th>    
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of newArrayOfStudent">
      <td>{{s.rollNo}}</td>
      <td>{{s.firstName}}</td>
      <td>{{s.lastName}}</td>
      <td>{{s.course}}</td>
    </tr>
  </tbody>
</table>
</div> -->


<!-- <select (change)="uid= sid.value" #sid>
  <option selected disabled>No value selected</option>
  <option [value]="id" *ngFor="let id of [1,2,3,4]">
    {{id}}
  </option>
</select> 

<div>
<div class="col-md-12">
  <input type="text" placeholder="enter value" (blur)="handleData($event)">
  <p>Product Name: <input type="text" placeholder="Enter Product name" [(ngModel)]="name"></p>
  <p>Product Price: <input type="text" placeholder="Enter Product price" [(ngModel)]="price"></p>
  <button class="btn btn-primary" (click)="updateProduct()">Update Product</button>
  <app-hooks *ngIf="appchildExist" [userid]="uid" [parentData]="data" [product]="product">
    <h2 #child>This is child content coming from parent component</h2>
  </app-hooks>

</div>
</div>
<button class="btn btn-danger" (click)="distroy()">Distroy Component</button> -->


 <!-- <app-assigdirectives></app-assigdirectives> -->

 <!-- <app-assiaddandremove></app-assiaddandremove> -->
 
 <!-- <app-simple-template></app-simple-template> -->
 <!-- <app-simple-driven-form></app-simple-driven-form> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-reactiveform-assign></app-reactiveform-assign> -->

<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>
<app-comp3></app-comp3>
<app-comp4></app-comp4> -->

<!-- <app-pipesdemo></app-pipesdemo> -->
<!-- <app-filter-pipe></app-filter-pipe> -->
<!-- <app-demopost></app-demopost> -->
<header>
  <nav>
    <ul class=" nav nav-tabs">
      <li class="nav-item"> <a class="nav-link" routerLink="/">Login</a> </li> 
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="home/" >Home</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass"  routerLink="aboutus/" >About Us</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass"  routerLink="product/">Poduct</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass"  routerLink="contactus/">Contact Us</a> </li> 
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass"  routerLink="post/">Post</a> </li> 
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass"  routerLink="orders/">orders</a> </li> 
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass"  routerLink="addusser/">AddUser</a> </li> 

    </ul>
  </nav>
</header>


 <router-outlet></router-outlet>
