<!--The content below is only a placeholder and can be replaced.-->

 <div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <!-- <app-server></app-server> -->
  <!-- <app-democourse> </app-democourse> -->
  <!-- <app-ngswitchassign></app-ngswitchassign> -->
  
  <!-- <app-warning></app-warning> -->
  <!-- <app-success></app-success> -->
<!-- 
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> 
 </div>  -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <app-servers></app-servers> -->

<!-- <app-directives></app-directives> -->
<!-- <div *ngFor="let e of EmployeeRecords">
  <app-demo [employee]="e" (foodevent)="getDataFromChild($event)">

  </app-demo>
</div> -->
<!-- <app-ngswitch></app-ngswitch> -->

<!-- <app-demodirectives></app-demodirectives> -->
<!-- <app-attri></app-attri>
<div *ngFor="let e of EmployeeRecords">
   <app-demo [employee]="e">

</app-demo> 
</div> -->
<!-- 
<div *ngFor="let e of EmployeeInfo">
  <app-inputdec [employee]="e">

  </app-inputdec> -->

  <!-- <select (change)="uid = sid.value" #sid>
    <option selected disabled>No value selected</option>
    <option [value]="id" *ngFor="let id of [1,2,3,4]">
      {{id}}
    </option>
    </select> -->
<!-- 
      <div class="row" style="text-align: center;">
      <div class="col-md-12">
    <input type="text" placeholder="enter-value" (blur)="handleData($event)">

    <p>Product Name: <input type="text" placeholder="Enter product name" [(ngModel)]="name"> </p>
    <p>Product Price: <input type="text" placeholder="Enter Price" [(ngModel)]="price"> </p>
    <button class="btn btn-primary" (click)="updateProduct()"> Update product</button> -->
    
    <!-- <app-hooks *ngIf="appchildExilt" [userid]="uid" [parentData]="data" [product]="product">
      <h1 #child> This is child content coming from parent component </h1>


    </app-hooks>
  </div>
  </div>
<br>
<button class="btn btn-danger" (click)="Destroy()">Destroy Component</button> -->

 <!-- <app-hooks >
 
 </app-hooks> --> 

<!-- </div>
<app-docheckassig></app-docheckassig> -->

<!-- <app-assigndirectives></app-assigndirectives> -->



<!-- <app-twoway></app-twoway> -->

<!-- <button type="button" class="btn btn-primary">Primary</button> -->

<app-simpleform></app-simpleform>

<!-- <app-accountform></app-accountform> -->
<!-- <app-studentform></app-studentform> -->

<!-- <app-studentregistration></app-studentregistration> -->
<router-outlet></router-outlet>
