<div class="container">
    <div class="row">
        <div class="cal-md-4">
            <select class="form-control" (change)="getProductValue($event)">
                <option value="Default">Select Product</option>
                <option value="Laptop">Laptop</option>
                <option value="Mobile">Mobile</option>
                <option value="TV">TV</option>               
                <option value="WashingMachine">WashingMachine</option>
            </select>
        </div>
        <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchDefault>please select product</h2> 
            <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2> 
            <h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2> 
            <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2> 
            <h2 class="text-success" *ngSwitchCase="'WashingMachine'">WashingMachine</h2> 
        </div>
    </div>
</div>
