<!-- <p>ngswitch works!</p> -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" (change)="getProductValue($event)">
                <option value="Default">Select product</option>
                <option value="Laptop">Laptop</option>
                <option value="TV">TV</option>
                <option value="Mobile">Mobile</option>
                <option value="WashingMachine">WashingMachine</option>
            </select>
        </div>
        <div class="col-md-12" [ngSwitch]="productName">
            <h2 class="text-danger" *ngSwitchDefault>Please select Product</h2>
            <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
            <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2>
            <h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2>
            <h2 class="text-success" *ngSwitchCase="'WashingMachine'">WashingMachine</h2>
        </div>
    </div>
</div>
