<!-- <p>ngswitch works!</p> -->
 <div class="container">
    <div class="row">
        <div class="col-md-4 bolder-shadow">
            <select class="form-control"  (change)="getProductValue($event)">
                <option value="Default">Select Product</option>
                <option value="Laptop">Laptop</option>
                <option value="Mobile">Mobile</option>
                <option value="TV">TV</option>
                <option value="Wi-Fi">Wi-Fi</option>       
            </select>
        </div>
        <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchDefault>Please select Product</h2>
            <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
            <h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2>
            <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2>
            <h2 class="text-success" *ngSwitchCase="'Wi-Fi'">Wi-Fi</h2>
        </div>
    </div>
 </div>
